@media (max-width: 768px) {

img {
    width: 45vw;
    height: auto;
    max-width: stretch !important;
    max-height: stretch !important;
    vertical-align: middle;
    border-style: none;
}

.row-par-contenedor{
  margin-left: 1vh;
  margin-right: 1vh;
  margin-bottom: 8vh;
}

.tarjetas-contenedor{
    margin-bottom: 3vh;
}

.img-responsive{
    width: 16vw;

}

.price
{
    display: contents;
    justify-content: center;

}


}