
@media (min-width: 768px) {
.row-par-contenedor{
  margin-left: 3vh;
  margin-right: 3vh;
  margin-bottom: 18vh;
}

img{
    max-width: stretch !important;
    max-height: stretch !important;
    width: 16vw;
    height: auto;
    vertical-align: middle;
    border-style: none;
}


.img-responsive{
    width: 12vw;

}

}
